{% extends 'admin.html.twig' %}

{% block title %}Genre index{% endblock %}

{% block head %}
{{ parent() }}
<style>
.avatarIndex{
    width:50px;
	height:50px;
	border-radius: 50%;
}
</style>
{% endblock %}

{% block body %}
    <h1>Genre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.name }}</td>
                <td>
                    <a href="{{ path('genre_show', {'id': genre.id}) }}">Voir</a>
                    <a href="{{ path('genre_edit', {'id': genre.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('genre_new') }}">Ajouter genre</a>
{% endblock %}
