{% extends 'admin.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}
    <h1>Movie index</h1>
 <a href="{{ path('movie_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                
                <th>Titre</th>
                <th>Réalisateur</th>
                <th>Duree</th>
                <th>Pays</th>
                <th>Date de sortie</th>
                <th>Classification</th>
                <th>Synopsis</th>
                <th>Affiche</th>
                <th>Trailer</th>
                
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                
                <td>{{ movie.title }}</td>
                <td>{{ movie.director }}</td>
                <td>{{ movie.duree }}</td>
                <td>{{ movie.country }}</td>
                <td>{{ movie.releaseDate ? movie.releaseDate|date('Y-m-d') : '' }}</td>
                <td>{{ movie.classification }}</td>
                <td>{{ movie.synopsis }}</td>
                <td>{{ movie.affiche }}</td>
                <td>{{ movie.trailer }}</td>
                
                
                <td>
                    <a href="{{ path('movie_show', {'id': movie.id}) }}">afficher</a>
                    <a href="{{ path('movie_edit', {'id': movie.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
