{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block body %}
    
        <div class="wrap" id="fichefilm">  
                <h1 id="titrefilm">{{ movie.title|title }}</h1>
                        <div class="affichefilm">
                        {# src="{{ asset('/uploads/affiches/'~ movie.affiche )| imagine_filter('test') }} #}
                                <img src="{{ asset('/uploads/affiches/'~ movie.affiche) | imagine_filter('movie') }}" title="affiche" alt="affiche du film" id="posterfilm">
                        </div>
                        <div class="infofilm">
                                
                                <p>Date de sortie : {{ movie.releaseDate ? movie.releaseDate|date('Y-m-d') : '' }}<br>
                                Classification : {{ movie.classification }}<br>
                                Réalisateur : {{ movie.director }}<br>
                                Durée : {{ movie.duree }}<br>
                                Genre : 
                                {% for  g in movie.genre %}
                                        {{ g.name }}     
                                {% endfor %}<br>

                                Acteurs : 
                                {% for  actor in movie.actors %}
                                        {{ actor.firstname }}
                                        {{ actor.lastname }}
                                {% endfor %}<br>
                                Pays : {{ movie.country }}<br><br>
                                Synopsis :<br>
                                {{ movie.synopsis }}<br>
                        
                        </div>
                        <div class="clear"></div>  
                  
                <br>
                <div class="iframe">
                        <p id="bandeannonce">Bande-Annonce :</p>
                        {#<a href="https://www.youtube.com/watch?v={{ movie.trailer }}">cliquez ici</a>#}<br>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{movie.trailer}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="lienyt"></iframe>
                </div>
                <br><br>
                <div class="retourhome">
                <a href="{{ path('home')}}">retour a la liste</a>
                
                </div>
        
        </div>                                      

{% endblock %}
