{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block body %}
    
        <div class="wrap">
            <h1>{{ movie.title }}</h1>
    <img src="{{asset(movie.affiche)}}" title="affiche" alt="affiche du film">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/{{movie.trailer}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Release_date : {{ movie.releaseDate ? movie.releaseDate|date('Y-m-d') : '' }}<br>
            Classification : {{ movie.classification }}<br>
            Director : {{ movie.director }}<br>
            Duree : {{ movie.duree }}<br>
            Genre : 
            {% for  g in movie.genre %}
                    {{ g.name }}     
            {% endfor %}<br>

            Actors : 
            {% for  actor in movie.actors %}
                    {{ actor.firstname }}
                    {{ actor.lastname }}
            {% endfor %}<br>
            Note : 
            {% for  n in movie.note %}
                    {{ n.score }}           
            {% endfor %}<br>
            Country : {{ movie.country }}<br>
            Synopsis :<br>
            {{ movie.synopsis }}<br>
            Trailer :<a href="https://www.youtube.com/watch?v={{ movie.trailer }}">cliquez ici</a><br>
      
            <a href="{{ path('movie_index') }}">back to list</a>
            <!--<a href="{{ path('movie_edit', {'id': movie.id}) }}">edit</a>
            {{ include('movie/_delete_form.html.twig') }}--></p>
           
        </div>                                      

{% endblock %}
