{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <p>Si vous n'avez pas encore de compte Movie Buster <button onclick="show()">Cliquez ici</button></p>
    <div id="register" >

    {{ form_start(registrationForm) }}
         <legend>Inscription</legend>

        {{ form_row(registrationForm.pseudo) }}     
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.Password) }}

        <button class="btn" value="S'inscrire"> S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
    
    

{% endblock %}
