{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div id="register" class="wrap2" >
        <legend>Inscription</legend>
    {{ form_start(registrationForm) }}


        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.Password) }}

        <input type="submit" value="S'inscrire" class="register_button">

        {{ form_end(registrationForm) }}
    </div>
    <div class="clear"></div>
    

{% endblock %}
