{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="wrap" id="movie_line">
<p id="lib">Les derniers ajouts :</p>
    <div class="arroundmovie">

        {% for movie in movies %}
                <div class="movie_card">
                    <a href="{{ path('movie_show_front', {'id': movie.id}) }}"><img class="movie_poster" src="{{ asset('/uploads/affiches/'~ movie.affiche )| imagine_filter('test') }} "></a>
                    <a href="{{ path('movie_show_front', {'id': movie.id}) }}">
                    <div class="movie_info">
                        <p class="movie_title">{{ movie.title | slice(0,29) | title }}</p>
                        <p class="movie_date">{{ movie.releaseDate ? movie.releaseDate|date('Y') : '' }}</p>                        
                    </div>
                    </a>
                </div>
        {% endfor %}
        <div class="clear"></div>
    </div>
</div>




<<<<<<< HEAD
<div id="view_more"><a href=""> Voir plus <i class="far fa-arrow-alt-circle-down"></a></i></div>
=======
<!--<div id="view_more"><a href="">En voir plus <i class="far fa-arrow-alt-circle-down"></a></i></div>-->
>>>>>>> 863ea587817471aeafabda3456aa07ed55be9764

{% endblock %}