{% extends 'base.html.twig' %}

{% block title %}User profil{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('asset/style.css') }}">{% endblock %}

{% block body %}
    
<div class="userProfil">
    <table class="table">
        <img src="{{asset('uploads/avatars/')}}{{ app.user.avatar }}" id="avatar" >
        <div class="infoUser">    
            <h1 class="nomUser"> {{ app.user.pseudo }}</h1>
            <p> Sexe : {{ app.user.sex }} </p>
            <p> E-mail : {{ app.user.email }}<p>
            <p> Date de Naissance : {{ app.user.birthDate ? app.user.birthDate|date('d/m/Y') : '' }}<p>    
        </div>
    </table>
</div>
<!--PREVOIR Nombre de commentaires envoyé et  de notes donnés -->
<a href="{{ path('user_editprofil') }}">Edit Profil</a>
<div class="filmsRecent">
<!--PREVOIR AFFICHAGE DES DERNIERS FILMS REGARDES -->
</div>



{% endblock %}
