{% extends 'admin.html.twig' %}

{% block title %}Actors index{% endblock %}

{% block body %}
    <h1>Liste des acteurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td>{{ actor.id }}</td>
                <td>{{ actor.firstName }}</td>
                <td>{{ actor.lastName }}</td>
                <td>{{ actor.birthDate ? actor.birthDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('actors_show', {'id': actor.id}) }}">Afficher</a>
                    <a href="{{ path('actors_edit', {'id': actor.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('actors_new') }}">Ajouter nouvel acteur</a>
{% endblock %}
