{% extends 'base.html.twig' %}

{% block title %}Actors{% endblock %}

{% block body %}
    <h1>Actors</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actor.id }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ actor.firstName }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ actor.lastName }}</td>
            </tr>
            <tr>
                <th>Birth_date</th>
                <td>{{ actor.birthDate ? actor.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('actors_index') }}">back to list</a>

    <a href="{{ path('actors_edit', {'id': actor.id}) }}">edit</a>

    {{ include('actors/_delete_form.html.twig') }}
{% endblock %}
