<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('asset/style.css') }}">
        {% block stylesheets %}{% endblock %}
        

    </head>

    <body>
        <!--------------- HEADER ---------------->
        <header >
            <div class="nav">               
                <div class="logo"> M<img src="{{asset('asset/img/popcornlogo.png')}}" id="popcorn" alt="logo">VIE BUSTER </div>
                <ul class="ulnav">                    
                    <li class="linav"><a href="{{ path('app_register')}}">HOME</a></li>
                    <li class="linav"><a href="">CONTACT</a></li>
                    <li class="linav" ><input type="text" placeholder="Search.."></li>
        

                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('movie_index') }}">film</a></li>
                    

                {% if is_granted('ROLE_USER') %}

                    <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
                    <li><a href="{{ path('movie_new') }}">Nouvelle fiche de film</a></li>

                    {% if is_granted('ROLE_ADMIN') %}
                    
                    <li><a href="{{ path('admin') }}">Admin</a></li>
                    
                    {% endif %}
                {% else %}

                    <li><a href="{{ path('app_register') }}">Inscription</a></li>
                    <li><a href="{{ path('app_login') }}">Connexion</a></li>

                {% endif %}

            

                    
                </ul>
            </div>            

        </header>
        <!--------------- FIN HEADER ---------------->
        
        {% block body %}
        
        {% endblock %}
        

        <!--------------- FOOTER ---------------->
        <footer>
            <div class="foot">
                <div class="logo"> 
                    M<img src="{{asset('asset/img/popcornlogo.png')}}" id="popcorn" alt="logo">VIE BUSTER 
                </div>
                <div class="reseauSoc">
                    <img src="{{asset('asset/img/icon-facebook.png')}}" id="fb" alt="fb">
                    <img src="{{asset('asset/img/icon-twitter.png')}}" id="twitter" alt="twitter">
                </div>

                <ul class="ulfoot">                    
               
                    <li class="lifoot"><a href="{{ path('home')}}">HOME</a></li>
                    <li class="lifoot"><a href="">CONTACT</a></li>
                    <li class="lifoot"><a href="{{ path('mentionleg')}}"> Mentions Legales</a></li>            

                </ul>

                <p id="copyright"> ©moviebuster 2019 - TOUS DROITS RÉSERVÉS     Création du site : Webforce3 -> DIMMI Clément - COLOMBIER Maxime - MAUROUARD Benjamin - PAUL Melissa  </p>
            </div>
        </footer>

        <!--------------- FIN FOOTER ---------------->




        <script src="{{ asset('asset/js/script.js') }}"></script>
    {% block script %}{% endblock %}

    </body>
</html>
