<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('asset/style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Custom fonts for this template-->
        <link href="{{ asset('asset/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{{ asset('asset/sb-admin-2.css') }}" rel="stylesheet">  
        {% block stylesheets %}{% endblock %}
        

    </head>
    <STYLE>A {text-decoration: none;} </STYLE>

    <body>
        <!--------------- HEADER ---------------->
           <header >
            <div class="nav">               
                <div class="logo"><a href="{{ path('home')}}"> M<img src="{{asset('asset/img/popcornlogo.png')}}" id="popcorn" alt="logo">VIE BUSTER </a></div>
                <div id="link_nav">
                    <ul class="ulnav">                    
                        
                        <li class="linav"><a href="{{ path('contact') }}"><i class="far fa-address-book "> Contact</i></a></li>
                {% if is_granted('ROLE_USER') %}
                        
                    <!------Affichage profil -------->

                        <li class="nav-item dropdown no-arrow linav">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.pseudo }}</span>
                                <img class="img-profile rounded-circle"  src="{{asset('uploads/avatars/')}}{{ app.user.avatar }}" style="width:35px; height:35px;">
                            </a>
                        
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{{ path('user_profil') }}">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('app_logout') }}" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Se Déconnecter
                                </a>
                            </div>
                        </li>

                            <!-- Logout message-->
                        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Prêt à partir ?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                </div>
                                <div class="modal-body">Selectionnez "Logout" si vous êtes prêt à quitter votre</div>
                                <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-primary" href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            </div>
                            </div>
                        </div>
            <!----- FIn affichage profil -------->

                    {% if is_granted('ROLE_ADMIN') %}

                        <!--<li class="linav"><a href="{{ path('movie_new') }}">Nouvelle fiche de film</a></li>-->
                        <li class="linav"><a href="{{ path('admin') }}"><i class="fas fa-tools "> Admin</i></a></li>

                    {% endif %}
                {% else %}
                  <li class="linav"><a href="{{ path('app_register') }}"><i class="fas fa-user-plus "> Inscription</i></a></li>
                  <li class="linav"><a href="{{ path('app_login') }}"><i class="fas fa-user "> Connexion</i></a></li>

              {% endif %}
             

                    </ul>
                    <input type="text" id="search_bar" placeholder="Recherche.."><i class="fas fa-search"></i>
                </div>
                <div id="info_header">
                    <h1 id="titreSite">
                        Bienvenue sur<br>
                        <span id="relief">Movie Buster</span>
                    </h1>
                    <div></div>
                    <p>Movie Buster est un site permettant de .........................<br>
                    ....................................................................
                    </p>
                    <a href="{{path('app_register')}}"><input type="submit" value="Inscrivez-vous" class="register_button"></a>
                </div>
            </div>            
        </header>
    
           

            

                    
           
        <!--------------- FIN HEADER ---------------->
        
        {% block body %}
        
        {% endblock %}
        

        <!--------------- FOOTER ---------------->
        <footer>
            <div class="foot">
                <div class="logo2" id="logofoot"> 
                   <a href="{{ path('home')}}"> M<img src="{{asset('asset/img/popcornlogo.png')}}" id="popcorn" alt="logo">VIE BUSTER </a><br>
                   <i class="fab fa-twitter " id="twitter" ></i>
                    <a href ="https://www.facebook.com/Movie-Buster-397536957507337/"><i class="fab fa-facebook-f " id="fb" ></i></a>
                    
                </div>
                    <div id="lienfoot">
                    <a href="{{ path('user_profil') }}"><i class="far fa-address-card fa-2x"id="profil"> Profil</i></a>
                    <a href="{{ path('contact') }}"><i class="far fa-address-book fa-2x"id="contacts"> Contact</i></a>
                    <a href="{{ path('mentionleg') }}"><i class="fas fa-info-circle fa-2x"id="mentionlegales"> Mentions legales</i></a>
                    </div>           

               
                <div id="copy">
                <p id="copyright"> ©moviebuster 2019 - TOUS DROITS RÉSERVÉS     Création du site :<br> Webforce3 -> DIMMI Clément - COLOMBIER Maxime - MAUROUARD Benjamin - PAUL Melissa  </p>
                </div>
            </div>
        </footer>

        <!--------------- FIN FOOTER ---------------->




        <script src="{{ asset('asset/js/script.js') }}"></script>
         <!-- Bootstrap core JavaScript-->
        <script src="{{ asset('asset/dashboard/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('asset/dashboard/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{{ asset('asset/dashboard/jquery-easing/jquery.easing.min.js') }}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{{ asset('asset/js/sb-admin-2.min.js') }}"></script>

        <!-- Page level plugins -->
        <script src="{{ asset('asset/dashboard/chart.js/Chart.min.js') }}"></script>

        <!-- Page level custom scripts -->
        <script src="{{ asset('asset/js/demo/chart-area-demo.js') }}"></script>
        <script src="{{ asset('asset/js/demo/chart-pie-demo.js') }}"></script>
        {% block javascripts %}{% endblock %}
    {% block script %}

    {% endblock %}
    </body>
</html>
