<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('asset/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ asset('asset/style.css') }}">
        {% block stylesheets %}{% endblock %}
        

    </head>

    <body>
        <!--------------- HEADER ---------------->
           <header >
            <div class="nav">               
                <div class="logo"> M<img src="{{asset('asset/img/popcornlogo.png')}}" id="popcorn" alt="logo">VIE BUSTER </div>
                <div id="link_nav">
                    <ul class="ulnav">                    
                        <li class="linav"><a href="{{ path('home')}}">HOME</a></li>
                        <li class="linav"><a href="{{ path('contact') }}">CONTACT</a></li>
                {% if is_granted('ROLE_USER') %}

                    <li class="linav"><a href="{{ path('user_profil') }}">Profil</a></li>
                    <li class="linav"><a href="{{ path('app_logout') }}">Deconnexion</a></li>

                    {% if is_granted('ROLE_ADMIN') %}

                        <li class="linav"><a href="{{ path('movie_new') }}">Nouvelle fiche de film</a></li>
                        <li class="linav"><a href="{{ path('admin') }}">Admin</a></li>

                    {% endif %}
                {% else %}
                  <li class="linav"><a href="{{ path('app_register') }}">Inscription</a></li>
                  <li class="linav"><a href="{{ path('app_login') }}">Connexion</a></li>

              {% endif %}

                    </ul>
                    <input type="text" id ="search_bar"placeholder="Search.."><i class="fas fa-search"></i>
                </div>
                <div id="info_header">
                    <h1 id="titreSite">
                        Bienvenue sur<br>
                        <span id="relief">Movie Buster</span>
                    </h1>
                    <div></div>
                    <p>Movie Buster est un site permettant de .........................<br>
                    ....................................................................
                    </p>
                    <input type="submit" value="Inscrivez-vous" class="register_button">
                </div>
            </div>            
        </header>
    
           

            

                    
           
        <!--------------- FIN HEADER ---------------->
        
        {% block body %}
        
        {% endblock %}
        

        <!--------------- FOOTER ---------------->
        <footer>
            <div class="foot">
                <div class="logo"> 
                    M<img src="{{asset('asset/img/popcornlogo.png')}}" id="popcorn" alt="logo">VIE BUSTER 
                </div>
                <div class="reseauSoc">
                    <img src="{{asset('asset/img/icon-facebook.png')}}" id="fb" alt="fb">
                    <img src="{{asset('asset/img/icon-twitter.png')}}" id="twitter" alt="twitter">
                </div>

                <ul class="ulfoot">                    
               
                    <li class="lifoot"><a href="{{ path('home') }}">HOME</a></li>
                    <li class="lifoot"><a href="{{ path('contact') }}">CONTACT</a></li>
                    <li class="lifoot"><a href="{{ path('mentionleg') }}"> Mentions Legales</a></li>            

                </ul>

                <p id="copyright"> ©moviebuster 2019 - TOUS DROITS RÉSERVÉS     Création du site : Webforce3 -> DIMMI Clément - COLOMBIER Maxime - MAUROUARD Benjamin - PAUL Melissa  </p>
            </div>
        </footer>

        <!--------------- FIN FOOTER ---------------->




        <script src="{{ asset('asset/js/script.js') }}"></script>

    {% block script %}

    {% endblock %}
    </body>
</html>
